@import url(./index.css);

.welcome-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.welcome-logo img {
  width: 120px;
  height: 100px;
  animation: animateHeart 2s infinite;
}

.welcome-logo .title {
  font-size: 3.2rem;
  margin-block-start: 10px;
}
.welcome-logo .title span {
  color: #a73a9c;
}

.welcome-logo p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

@keyframes animateHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
